body {

}
header,
footer {
  width: auto;
  height: 60px;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gallery {
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.gallery div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.gallery div:nth-child(3n) {
  margin-left: -310px;
  margin-top: 320px;
}

.item-1 {background-image: url('../img/01.jpg');}
.item-2 {background-image: url('../img/02.jpg');}
.item-3 {background-image: url('../img/03.jpg');}

.large {
  width: 600px;
  height: 600px;
}

.small {
  width: 300px;
  height: 300px;
}

.control {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 51px);
}

.control div {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 30px;
  cursor: pointer;
  z-index: 1;
}

.control .disabled {
  opacity: 0;
  cursor: default;
}

.control div::before,
.control div::after {
  content: '';
  position: absolute;
  background: #fff;
}

.control div::before {
  width: 5px;
  height: 20px;
}

.control div::after {
  width: 20px;
  height: 5px;
}

#prev {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#next {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);

}

header
