header {
  width: 100%;
  height: 60px;
  background-color: #2196f3;
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}

header nav {
  width: 80%;
  margin: 0 auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 60px;
}

header nav ul li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

header nav ul li a:hover,
footer div a:hover {
  border-bottom: 1px solid;
}

.container {
  height: 100vh;
  height: calc(100vh - 120px);
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallery__col-1 div,
.gallery__col-2 div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item-big {
  width: calc(100vh - 120px);
  height: calc(100vh - 120px);
}

.item-lil {
  width: calc(50vh - 60px);
  height: calc(50vh - 60px);
}

.item-1 {background-image: url('../img/01.jpg');}
.item-2 {background-image: url('../img/02.jpg');}
.item-3 {background-image: url('../img/03.jpg');}
.item-4 {background-image: url('../img/04.jpg');}
.item-5 {background-image: url('../img/05.jpg');}
.item-6 {background-image: url('../img/06.jpg');}
.item-7 {background-image: url('../img/07.jpg');}
.item-8 {background-image: url('../img/08.jpg');}
.item-9 {background-image: url('../img/09.jpg');}

footer {
  width: 100%;
  height: 60px;
  background-color: #eee;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
}

footer div p {
  height: 16px;
  margin-top: 25px;
}

footer div a {
  margin-left: 5px;
  margin-top: 25px;
  color: #6f6f6f;
  text-decoration: none;
}

.control {
  width: 100%;
  position: absolute;
  top: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control div {
  position: relative;
  width: 56px;
  height: 56px;
  margin: 30px;
  cursor: pointer;
  z-index: 1;
  background-color: #FF4081;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.control .disabled {
  opacity: 0;
  cursor: default;
}

.control div::after,
.control div::before {
  position: absolute;
  top: 26px;
  left: 21px;
  display: block;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.control div::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 21px;
}

.control div::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 33px;
}

.control #prev::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 16px;
}

.control #prev::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 16px;
}
